.App {
  background-color: #252734;
  font-family: Roboto Mono, monospace;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  color: #aaabb0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
}